*
  box-sizing: border-box

// Create page

  // nav styling
.gameNavTree
  border-right: 1px solid black
  display: inline-block
  height: 100%
  width: 30%

  .gameNavTree__item
    color: black
    text-decoration: none
