@import "base/ActiveGame.sass"
@import "base/QuestionModal.sass"
@import "base/Nav.sass"
@import "base/Create.sass"

*
  box-sizing: border-box
  font-family: Helvetica, sans-serif
  font-weight: lighter

html
  background-color: rgb(245, 245, 245)
