* {
  box-sizing: border-box;
  font-family: Helvatica, sans-serif;
  font-size: 1.5rem;
}

/* Create Styling */

.gameNavTree {
  border-right: 1px solid black;
  display: inline-block;
  height: 100vh;
  padding-top: 2%;
  position: fixed;
  text-align: center;
  width: 30%;
  vertical-align: top;
}
.gameNavTree__item {
  color: black;
  display: block;
  line-height: 2.5rem;
  text-decoration: none;
}

.formsContainer {
  display: inline-block;
  margin: 5% 0;
  margin-left: 30%;
  padding: 2%;
  text-align: center;
  width: 70%;
}

.gameTitleInput {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.qaForm {
  padding: 5%;
}

.questionInput {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.choiceInput {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

.answerSelectContainer {
  display: block;
  text-align: center;
}

.answerSelect {
  margin: 0 2%;
}

/* Active Game Styling */

.initGameButtons {
  display: inline-block;
}

.initGameButtons--hidden {
  display: none;
}

/* Question Modal */

.modal--hidden {
  display: none;
}

.modal--display {
  display: inline-block;
}

.submitButton--hidden {
  display: none;
}

/* Feedback */

.correctFeedbackContainer--hidden {
  display: none;
}

.incorrectFeedbackContainer--hidden {
  display: none;
}

.lastQuestionButton--hidden {
  display: none;
}

.nextQuestion--hidden {
  display: none;
}

/* Final Feedback */

.finalFeedback--hidden {
  display: none;
}
