.activeGameContainer {
  position: relative;
  text-align: center; }

.initGameButtons {
  display: inline-block;
  text-align: center;
  width: 100%; }

.startGameButton {
  background-color: #90d3ed;
  border-radius: 100px;
  box-shadow: 0 4px #03a9f5;
  color: white;
  display: block;
  font-size: 3vw;
  margin: auto;
  margin-top: 20vh;
  padding: 1vh;
  top: 2px;
  width: 50vw; }

.startGameButton:hover {
  cursor: pointer; }

.dontStartGameLink {
  border: 3px solid #ff8a80;
  border-radius: 100px;
  color: #ff8a80;
  display: inline-block;
  font-size: 1vw;
  margin: 10% auto;
  position: relative;
  text-decoration: none;
  width: 22vw; }

.backButtonArrow {
  position: absolute;
  left: 10%;
  top: 25%; }

.initGameButtons--hidden {
  display: none; }

.modal--hidden {
  display: none; }

.modal--display {
  display: inline-block;
  margin: 0 auto;
  height: 86vh;
  padding-top: 7.5vh;
  width: 70vw; }

.currentQuestionContainer {
  display: inline-block;
  height: 15vh;
  position: relative; }

.currentQuestion {
  font-size: 4vh; }

.answerInputForm {
  display: inline-block;
  line-height: 5vh;
  padding: 3vh;
  position: relative;
  width: 50vw; }

.answerChoiceLabel {
  cursor: pointer;
  display: inline-block;
  font-size: 3vh;
  width: 100%; }

.answerChoice {
  position: absolute;
  opacity: 0; }

.answerChoiceContainer {
  background-color: #ff9329;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 4px #dc5400;
  color: whitesmoke;
  height: 8vh;
  line-height: 8vh;
  margin: 2vh 0;
  padding-left: 2vw;
  position: relative;
  text-align: left; }

.answerChoiceContainer--hidden {
  visibility: hidden; }

.controlIndicator {
  background-color: whitesmoke;
  border-radius: 40px;
  box-shadow: 0 4px #dc5400;
  color: #03a9f5;
  display: inline-block;
  float: right;
  font-size: 4vh;
  height: 6.5vh;
  line-height: 6.5vh;
  margin: .7vh 1vh;
  text-align: center;
  transition: font-weight 0.3s;
  transition: width 0.3s;
  width: 6.5vh; }

.answerChoiceLabel:hover input ~ .controlIndicator,
.answerChoiceLabel input:focus ~ .controlIndicator {
  background-color: white;
  font-weight: bold;
  transition: background-color 0.3s;
  transition: font-weight 0.3s;
  transition: width 0.3s;
  width: 30vh; }

.answerChoiceLabel input:focus ~ .controlIndicator {
  background-color: whitesmoke;
  box-shadow: inset 0 4px #dc5400;
  transition: background-color 0.3s; }

.submitButton--display {
  background-color: #90d3ed;
  border: none;
  border-radius: 100px;
  box-shadow: 0 4px #03a9f5;
  color: white;
  display: inline-block;
  float: right;
  font-size: 3vh;
  margin: 0 1vh;
  outline: 0;
  padding: 1vh;
  top: 2px;
  width: 30vh; }

.submitButton--display:hover {
  background-color: #03a9f5;
  box-shadow: 0 2px #0d47a1;
  cursor: pointer; }

.submitButton--hidden {
  display: none; }

.correctFeedbackContainer--hidden {
  display: none; }

.correctFeedbackContainer--display {
  background-color: rgba(82, 213, 138, 0.3);
  border: 10px solid #27ae61;
  border-radius: 40px;
  color: white;
  display: inline-block;
  height: 310px;
  left: 0;
  line-height: 5vh;
  padding: 3vh;
  position: absolute;
  top: 2vh;
  width: 100%; }

.correctFeedbackText {
  font-size: 5vh;
  letter-spacing: 5px;
  margin: 0 0 160px 0; }

.incorrectFeedbackContainer--hidden {
  display: none; }

.incorrectFeedbackContainer--display {
  background-color: rgba(255, 138, 128, 0.3);
  border: 10px solid #cb4e4e;
  border-radius: 40px;
  color: white;
  display: inline-block;
  height: 310px;
  left: 0;
  line-height: 5vh;
  padding: 3vh;
  position: absolute;
  top: 2vh;
  width: 100%; }

.incorrectFeedbackTitle {
  font-size: 5vh;
  letter-spacing: 5px;
  margin: 0 0 160px 0; }

.incorrectFeedbackInfo {
  background-color: #52d58a;
  border: 3px solid #27ae61;
  border-radius: 40px;
  font-size: 3vh;
  left: -5px;
  padding: 1vh 1.5vh;
  position: absolute;
  top: 300px;
  width: 100%; }

.lastQuestionButton--hidden {
  display: none; }

.nextQuestion--hidden {
  display: none; }

.nextQuestion {
  background-color: #bf90d4;
  border: none;
  border-radius: 100px;
  box-shadow: 0 4px #8d44ad;
  color: white;
  display: inline-block;
  font-size: 3vh;
  line-height: 5vh;
  margin: 1vh;
  outline: 0;
  padding: 1vh;
  width: 40vh; }

.nextQuestion:hover {
  box-shadow: 0 2px #8d44ad;
  cursor: pointer; }

.lastQuestionButton--display {
  background-color: #bf90d4;
  border: none;
  border-radius: 100px;
  box-shadow: 0 4px #8d44ad;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 3vh;
  line-height: 5vh;
  margin: 1vh;
  outline: 0;
  padding: 1vh;
  width: 20vh; }

.questionCounter {
  position: absolute;
  left: 5vh;
  bottom: 5vh; }

.finalFeedback--hidden {
  display: none; }

.finalFeedback--display {
  background-color: whitesmoke;
  border-radius: 40px;
  font-size: 3vh;
  left: -5px;
  height: 85%;
  overflow: scroll;
  padding: 1vh 1.5vh;
  position: absolute;
  top: 2vh;
  width: 100%; }

.incorrectList {
  display: inline-block;
  padding: 0;
  width: 50vw; }

.incorrectQuestionItem {
  background-color: white;
  box-shadow: 0 4px #03a9f5;
  border-radius: 40px;
  list-style: none;
  margin-bottom: 3vh;
  padding: 4vh; }

.incorrectAnswerChoice {
  display: block;
  text-align: left; }

.incorrectAnswerChoice__label {
  background-color: whitesmoke;
  border-radius: 40px;
  box-shadow: 0 4px #03a9f5;
  color: #03a9f5;
  display: inline-block;
  font-size: 4vh;
  height: 6.5vh;
  line-height: 6.5vh;
  margin: .7vh 3vh;
  text-align: center;
  transition: font-weight 0.3s;
  transition: width 0.3s;
  width: 6.5vh; }

.navContainer {
  height: 8vh; }

.nav {
  border-bottom: 1px solid #414141;
  display: block;
  font-size: 5vh;
  line-height: 8vh;
  padding: 2vh 0;
  text-align: center; }

.navHomeLink {
  color: #414141;
  text-decoration: none; }

.navCreateLink {
  color: #414141;
  margin: 0 8vw;
  text-decoration: none; }

.navGamesLink {
  color: #414141;
  text-decoration: none; }

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: lighter; }

html {
  background-color: whitesmoke; }

.gameNavTree {
  border-right: 1px solid black;
  display: inline-block;
  height: 100vh;
  padding-top: 2%;
  position: fixed;
  text-align: center;
  width: 30%;
  vertical-align: top; }

.gameNavTreeItem {
  color: black;
  display: block;
  line-height: 2.5rem;
  text-decoration: none; }

.formsContainer {
  display: inline-block;
  margin: 5% 0;
  margin-left: 30%;
  padding: 2%;
  text-align: center;
  width: 70%; }

.gameTitleInput {
  display: inline-block;
  margin: 0 auto;
  text-align: center; }

.qaForm {
  padding: 5%; }

.questionInput {
  display: block;
  margin: 0 auto;
  width: 100%; }

.choiceInput {
  display: block;
  margin: 0 auto;
  margin-top: 5%; }

.answerSelectContainer {
  display: block;
  text-align: center; }

.answerSelect {
  margin: 0 2%; }
