@import "variables.sass"

// Active Game Styling

html
  background-color: rgb(245, 245, 245)

.initGameButtons
  display: inline-block
  text-align: center
  width: 100%

.startGameButton
  background-color: rgb(144, 211, 237)
  border-radius: 40px
  box-shadow: 0 4px rgb(3, 169, 245)
  color: rgb(255, 255, 255)
  display: block
  font-size: 4.5vh
  margin: 10% auto
  padding: 1vh
  top: 2px
  width: 50vw

.startGameButton:hover
  cursor: pointer

.dontStartGameLink
  display: inline-block
  font-size: 2vh
  margin: 10% auto
  text-decoration: none
  width: 50vw

.initGameButtons--hidden
  display: none
