<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Triviato </title>
    <link rel="stylesheet" href="stylesheets/main.css" media="screen">
  </head>
  <body>
    <h1 data-js="fbTest"></h1>
    <main id="app"></main>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAd53wOmjPPTEbGnEXp1iNVKEN_m57feIA",
        authDomain: "triviato-eedfa.firebaseapp.com",
        databaseURL: "https://triviato-eedfa.firebaseio.com",
        storageBucket: "triviato-eedfa.appspot.com",
        messagingSenderId: "301627229965"
      };
      firebase.initializeApp(config);

      var fbTest = document.querySelector("[data-js='fbTest']");
      var dbRef = firebase.database().ref().child('text');
      dbRef.on('value', snap => {
        fbTest.innerText = snap.val();
      });

    </script>
    <script src="javascripts/bundle.js" charset="utf-8"></script>
  </body>
</html>
